{%load static%}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/gamemode.css' %}">
</head>
<body>
    <!-- header -->
    <!-- Top navigation -->

    <header>
        <nav>
            <div class="topnav">
                <div class="flex-items"><a href="index.html">Home</a></div>
                <div class="flex-items" id="div-navbar-img"><a href="gamemode.html" id="nav-img"><img src="https://www.icone-gif.com/gif/jeux-classique/cartes/cartes006.gif"></a></div>
                <div class="flex-items"><a href="inscription.html">Inscription</a></div>
            </div>
        </nav>
    </header>
    <div id="main_container">
        <div id="gamemode1">
            <a href="memory_game.html"><button id="button_gamemode">Contre la montre !</button></a>
        </div>
        <div id="gamemode2">
            <a href="mortsubite.html"><button id="button_gamemode">Mort Subite</button></a>
        </div>
    </div>


    <!-- intérieur de la page -->
</body>
</html>