{%load static%}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <!-- header -->
    <!-- Top navigation -->

    <header>
        <nav>
            <div class="topnav">
                <div class="flex-items"><a href="index.html">Home</a></div>
                <div class="flex-items" id="div-navbar-img"><a href="gamemode.html" id="nav-img"><img src="https://www.icone-gif.com/gif/jeux-classique/cartes/cartes006.gif"></a></div>
                <div class="flex-items"><a href="form.html">Inscription</a></div>
                <div class="flex-items"><a href="signup.html">Connexion</a></div>
            </div>
        </nav>
    </header>



    <!-- intérieur de la page -->
</body>
</html>