body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/193/057/original/wood-texture-background-free-vector.jpg);
    background-repeat: no-repeat, repeat-x;
    color: azure;
  }
*{
    margin: 2px;
}


/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */




/* Couleur du fond */
.topnav {
    position: relative;
    overflow: hidden;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .1s; /* Animation */
}

.topnav img{
    transition: transform .2s; /* Animation */
}
.topnav img:hover{
    transform: scale(1.09);
}




/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */



/* Style the links inside the navigation bar */
/* La couleur quand la souris passe dessus */
.topnav a {
    box-shadow: inset 0 0 0 0 rgb(206, 169, 21);
    color: white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-align: center;
    padding: 2%;
    text-decoration: none;
    font-size: 30px;
    margin: auto;
}

.topnav a:hover {
    box-shadow: inset 30vmax 0 0 0 #B2D9E3;
    color: white;
}

.flex-items{
  display: flex;
  flex-grow: 0;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  width: 20%;
}

#nav-img:hover{
    transition: none;
    box-shadow: none;
}

/* Ajouter une couleur quand actif */
.topnav a.active {
  background-color: #04aa6d00;
  color: white;
}

button {
    min-width: 30%;
}

/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */
/* **************************************************************** */

.carte {
  width: 150px;
  height: 220px;
  background-color: #3498db;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 220px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.carte:hover {
  transform: translateY(-36px);
}

#main_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gamemode1{
    width: 35vw;
}

#gamemode2{
    width: 35vw;
}

#button_gamemode{
    height: 50%;
    width: 100%;
}